@page "/telegram"

<div>
    <div>Telegram WebApp Version: @Version</div>
</div>
<div>
    <div>Telegram WebApp Platform: @Platform</div>
</div>
<div>
    <div>Telegram WebApp IsExpand: @IsExpand</div>
</div>